<ion-header id="details-header" color="primary">
  <ion-toolbar>
    <ion-title id="details-poll-name">{{poll.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngStyle]="{'--ion-background-color': poll.color}" (click)="closeKeyboard()">
  <ion-slides #detailsSlider class="swiper-no-swiping" (ionSlideDidChange)="slideChanged()">
    <ion-slide class="swiper-no-swiping" *ngFor="let question of poll.questions; let i = index;">
      <ion-card>
        <ion-grid class='question-grid'>
          <ion-row id='header-row'>
            <ion-col col-1 class="back-button">
              <ion-button [attr.clear]="true" fill="clear" (click)="goBack()">
              <ion-icon name="arrow-round-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col col-10 class="question-number">
              QUESTION {{i+1}}
            </ion-col>
            <ion-col col-1 class="question-counter" justify-content-center align-items-center style="height: 100%">
                {{i+1}} / {{poll.questions.length}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="question-text">
                <h1>{{question.text}}</h1>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="question.type === 'yesno'" class="answers-row">
            <ion-card *ngIf=!feedbackData>
              <ion-col *ngFor="let answer of question.answers" class="answer-col">
                <ion-button no-padding class="no-margin no-padding" (click)="saveYesNoAnswer(question, answer.text, i)" [attr.clear]="true" fill="clear" [ngClass]="answer.classname">
                  <!--<ion-label [attr.clear]="true" fill="clear">{{answer.text}}</ion-label>-->
                  <ion-icon class="yesno-icon" *ngIf="answer.text == 'Yes'; else noanswer" name="checkmark" style="color: #9dc25c;"></ion-icon>
                  <ng-template #noanswer>
                      <ion-icon class="yesno-icon" name="close" style="color: #cb4a41;"></ion-icon>
                  </ng-template>
                </ion-button>
              </ion-col>
            </ion-card>

            <ion-card class="yesno-chart">
              <google-chart [data]="feedbackData"></google-chart>
            </ion-card>

            <ion-button class='open-question-button' expand="full" (click)="advance(i)" *ngIf=question.answered>
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row *ngIf="question.type === 'multiple'" class="answers-row-multiple" [ngStyle]="{'height': (70*question.answers.length).toString() + 'px'}">
            <ion-card *ngFor="let answer of question.answers" class="multiple-answer-col" [ngStyle]="{'height': (100/(question.answers.length+1)).toString()+'%'}" style="margin-bottom: 4%;">
              <ion-button [attr.clear]="true" fill="clear" expand="full" (click)="saveAnswer(question, answer.id.toString(), i, question.type)" [ngClass]="answer.classname">
                <div class="multiple-chart" [ngStyle]="{width: answer.feedbackValue.toString() + '%'}" *ngIf=question.answered></div>
                <ion-label class="multiple-chart-value" *ngIf=question.answered>{{answer.feedbackValue}} %</ion-label>
                <ion-label [attr.clear]="true" fill="clear">{{answer.text}}</ion-label>
              </ion-button>
            </ion-card>

            <ion-button class='open-question-button multiple-question-button' expand="full" (click)="advance(i)" *ngIf=question.answered>
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuesiton">Next</ion-label>
              <ng-template #lastQuesiton>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row class="dropdown-row" *ngIf="question.type === 'dropdown'">
            <ion-col>
              <ion-select [(ngModel)]="openQuestions[i].value" class='dropdown-question' placeholder="Select An Answer">
                <ion-select-option *ngFor="let answer of question.answers" class='dropdown-answer' value="{{answer.id}}">{{answer.text}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-button class='open-question-button' expand="full" (click)="saveOpenAnswer(question, i, question.type)">
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuesiton">Next</ion-label>
              <ng-template #lastQuesiton>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row *ngIf="question.type === 'rating'">
            <ion-segment (ionChange)="segmentChanged($event, question, i)">
              <ion-segment-button *ngFor="let element of [1,2,3,4,5,6,7,8,9,10]" value="{{element}}" [style.width.%]="10" [style.min-width.%]="10">
                <ion-label class="rating-label">{{element}}</ion-label>
                <ion-icon class="rating-average" name="arrow-down" *ngIf="question.answered && question.feedbackValue == element"></ion-icon>
              </ion-segment-button>
              <ion-label class="rating-average-text" *ngIf="question.answered" [ngStyle]="{'left': (question.feedbackValue - 1).toString() + '0%'}">Average</ion-label>
            </ion-segment>

            <ion-button class='open-question-button' expand="full" (click)="advance(i)" *ngIf=question.answered>
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row *ngIf="question.type === 'checkbox'" class="answers-row-checkbox" [ngStyle]="{'height': (60*question.answers.length).toString() + 'px'}">
            <ion-list>
              <ion-item *ngFor="let answer of question.answers" class="checkbox-answer-col" [ngStyle]="{'height': (100/(question.answers.length+1)).toString()+'%'}">
                <div class="checkbox-chart" [ngStyle]="{width: answer.feedbackValue.toString() + '%'}" *ngIf=question.answered></div>
                <ion-label>{{answer.text}}</ion-label>
                <ion-checkbox slot="start" (ionChange)="updateAnswer(question, answer.id)" class="checkbox-item"></ion-checkbox>
              </ion-item>
            </ion-list>
            <ion-button class='open-question-button' expand="full" (click)="saveCheckBoxAnswers(question, i, question.type)" *ngIf=!question.answered>
              <ion-label>Save</ion-label>
            </ion-button>

            <ion-button class='open-question-button' expand="full" (click)="advance(i)" *ngIf=question.answered>
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row *ngIf="question.type === 'ranking'" id="ranking-row">
            <ion-list id="ranking-list">
              <ion-reorder-group disabled="false" (ionItemReorder)="reorderItems($event, i)">
                <ion-item *ngFor="let answer of question.answers" class="ranking-answer-col" [ngStyle]="{'height': (100/(question.answers.length+1)).toString()+'%', 'margin-bottom': '2.5%'}">
                  <ion-label>{{answer.text}}</ion-label>
                  <ion-reorder slot="end"></ion-reorder>
                </ion-item>
              </ion-reorder-group>
            </ion-list>
            <ion-button class='open-question-button' expand="full" (click)="saveCheckBoxAnswers(question, i, question.type)">
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row *ngIf="question.type === 'range'">
            <ion-item class='range-value'>
              <ion-label>
                {{openQuestions[i].value}}
              </ion-label>
            </ion-item>
            <ion-item class='range-slider'>
              <ion-range min="0" max="100" [(ngModel)]="openQuestions[i].value">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">100</ion-label>
              </ion-range>
              <div class="range-average-container">
                <ion-icon class="range-average" name="arrow-down" [ngStyle]="{'color': poll.color, 'left': question.feedbackValue.toString() + '%' }" *ngIf="question.answered && question.feedbackValue"></ion-icon>
              </div>
            </ion-item>            
            <ion-button class='open-question-button' expand="full" (click)="saveOpenAnswer(question, i, question.type)">
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuesiton">Next</ion-label>
              <ng-template #lastQuesiton>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row class='open-question-row' *ngIf="question.type === 'open'">
            <ion-item class='open-question'>
              <ion-textarea class='open-question-textarea' [(ngModel)]="openQuestions[i].value"></ion-textarea>
            </ion-item>
            <ion-button class='open-question-button' expand="full" (click)="saveOpenAnswer(question, i, question.type)">
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuesiton">Next</ion-label>
              <ng-template #lastQuesiton>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row class='scale-question-row' *ngIf="question.type === 'scale'">
            <ion-item class='scale-question'>
              <ion-item class='scale-icon-container' *ngFor="let number of  [0, 1, 2, 3, 4]">
                <ion-button no-padding fill="clear" class="scale-icon full no-margin no-padding" (click)="saveAnswer(question, (number + 1).toString(), i, question.type)" *ngIf="openQuestions[i].value && number<openQuestions[i].value; else unselected">
                  <ion-icon class="scale-star" name="star" [ngStyle]="{'color': poll.color}"></ion-icon>
                </ion-button>
                <ng-template #unselected>
                  <ion-button no-padding fill="clear" class="scale-icon full no-margin no-padding" (click)="saveAnswer(question, (number + 1).toString(), i, question.type)">
                    <ion-icon class="scale-star" name="star-outline" [ngStyle]="{'color': poll.color}"></ion-icon>
                  </ion-button>
                </ng-template>
                <ion-icon class="answers-average answers-average-icon" name="arrow-down" [ngStyle]="{'color': poll.color}" *ngIf="question.answered && question.feedbackValue == (number + 1)"></ion-icon>
                <ion-label class="answers-average answers-average-text" [ngStyle]="{'color': poll.color}" *ngIf="question.answered && question.feedbackValue == (number + 1)">Average</ion-label>
              </ion-item>
            </ion-item>

            <ion-button class='open-question-button' expand="full" (click)="advance(i)" *ngIf=question.answered>
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>

          <ion-row class='scale-question-row' *ngIf="question.type === 'matrix'">
            <ion-row class="headers-row">
              <ion-col class="headers-col"></ion-col>
              <ion-col class="headers-col">A lot</ion-col>
              <ion-col class="headers-col">A little</ion-col>
              <ion-col class="headers-col">Not at all</ion-col>
            </ion-row>
            <div class="scrolldiv" scrolly=true>
              <ion-list *ngFor="let answer of question.answers; let ia = index" class="matrix-answer-col">
                <ion-radio-group class="matrix-radio-group">
                  <ion-col class="matrix-name-col">
                    <ion-item>
                      {{answer.text}}
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-radio (ionSelect)="updateMatrixAnswers(ia, 0)" class="matrix-value-col" value=0></ion-radio>
                  </ion-col>
                  <ion-col>
                    <ion-radio (ionSelect)="updateMatrixAnswers(ia, 1)" class="matrix-value-col" value=1></ion-radio>
                  </ion-col>
                  <ion-col>
                    <ion-radio (ionSelect)="updateMatrixAnswers(ia, 2)" class="matrix-value-col" value=2></ion-radio>
                  </ion-col>
                </ion-radio-group>
              </ion-list>
            </div>

            <ion-button class='open-question-button' expand="full" (click)="saveMatrixAnswers(question, i)">
              <ion-label *ngIf="i < poll.questions.length - 1; else lastQuestion">Next</ion-label>
              <ng-template #lastQuestion>
                <ion-label>Finish</ion-label>
              </ng-template>
            </ion-button>
          </ion-row>
          
        </ion-grid>
      </ion-card>
    </ion-slide>

    <!--<ion-slide id='poll-end'>
      <ion-grid>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-6>
            <ion-button (click)="sendAnswers()">
              End Poll
            </ion-button>
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>-->
  </ion-slides>
</ion-content>
