* {
    font-family: 'Lato-Regular';
  }
  
  ion-content {
      --color: white;
  }

  ion-content.color-1 {
      --ion-background-color: #7bedff;
  }

  ion-content.color-2 {
      --ion-background-color: #ff7b91;
  }

  ion-content.color-3 {
      --ion-background-color: #2be8a6;
  }

  ion-content.color-4 {
      --ion-background-color: #fff454;
  }

  ion-content.color-5 {
      --ion-background-color: #a77bff;
  }

  ion-content.color-6 {
      --ion-background-color: #ffbb7b;
  }
  
  ion-item {
      --color: white;
      --ion-background-color: transparent;
  }

  ion-col {
      text-align: center;
  }

  ion-header {
      --ion-background-color: #1A1919;
      --color: white;
      color: white;
      text-align: center;
      height: 40px;
  }

  #details-poll-name, .question-number, .question-counter {
      color: #ffffff;
  }

  ion-slide, ion-card {
      width: 100%;
      height: 100%;
  }

ion-slides {
    height: 100%;
}

ion-card {
    box-shadow: none;
    margin: 0;
}

.question-number, .question-counter {
    margin-top: 5px;
}

.back-button {
    text-align: left;
}

#details-poll-name {
    font-size: 16px;
}

h1 {
    color: #fff;
}

ion-grid {
    height: 100%;
}

.answers-row {
    height: 70%;
}

.answer-col {
    padding: 0;
}

.answer-col ion-button {
    color: #1A1919;
    background: #ffffff;
    --background: transparent;
    --ion-background-color: transparent;
    border-radius: 50%;
    height: 125px;
    padding: 35px;
    position: relative;
    top: 20%;
    transition: transform 1s linear;
    transform-origin: top right;
    transform-style: preserve-3D;
    transform:scale(1.0);
}

.answer-col ion-button.chosen {
    transform:scale(1.25);
    position: fixed;
    left: 33%;
    top: 40%;
}

.answer-col ion-button.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    transform:scale(0.1);
}

.multiple-answer-col ion-button.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.button-native {
    --background: transparent;
    --ion-background: transparent;
}

.open-question-row {
    height: 75;
}

.open-question {
    width: 100%;
    height: 60%;
}

.open-question-textarea {
    height: 275px;
    background: #ffffff;
    color: #1A1919;
    padding: 5px;
}

.open-question-button {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.open-question-button ion-label {
    text-transform: none;
}

.range-value, .range-slider {
    width: 100%;
    text-align: center;
    --border-color: transparent;
    color: black;
}

.range-value {
    margin-top: 10%;
    font-size: 20px;
}

ion-range ion-label {
    --color: black !important;
}

.dropdown-question {
    color: #ffffff;
    margin-top: 10%;
    height: 55px;
    padding-top: 5%;
    font-size: 16px;
}

.open-question-button-wrapper {
    width: 100%;
}

.open-question-button-wrapper {
    height: 65px;
    --border-color: transparent;
}

.open-question-button-wrapper ion-button {
    height: 100%;
}

.multiple-answer-col {
    width: 100%;
    height: 11%;
}

.multiple-answer-col ion-button {
    width: 100%;
    color: #52AACF;
    background: #ffffff;
    --background: transparent;
    --ion-background-color: transparent;
    padding: 7px;
    font-size: 14px;
    margin: 0;
    height: 100%;
}

.multiple-answer-col ion-button ion-label {
    text-align: left;
    width: 100%;
}

#poll-end {
    top: 40%;
}

ion-item {
    --border-color: transparent;
}

.checkbox-item {
    --background: #ffffff;
    --border-width: 0px;
    --background-checked: #12658F;
}

ion-segment {
    width: 100%;
    top: 65px;
    position: relative;
}

ion-segment-button {
    --margin-end: 0px;
    --margin-start: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --background: #1A1919;
    color: white;
}

.segment-button-indicator {
    background-color: white;
}

#ranking-row, #ranking-list {
    width: 100%;
}