<ion-content>
  <ion-row id='logo-header'>
      <ion-col col-4></ion-col>
      <ion-col col-4><img src="../../../../assets/images/uConduit-logo.png" id="logo" /></ion-col>
      <ion-col col-4></ion-col>
  </ion-row>
  <ion-card id='profile-card' *ngIf="user">
    <ion-avatar id='profile-pic-item'>
      <ion-img *ngIf="user.icon_path" id='profile-pic' [src]="user.icon_path"></ion-img>
    </ion-avatar>
    <ion-item id='profile-name'>
      <h1>{{user.first_name}} {{user.last_name}}</h1>

      <ion-icon name="create" (click)="goToEdit()" id="edit-button"></ion-icon>
    </ion-item>
    <ion-item id='profile-resume'>
      <ion-item (click)="showPointsHistory()" id='points-button'>
        <ion-grid id='points-grid'>
          <ion-row *ngIf="user">
            <ion-item id='points-header'>{{user.points}}</ion-item>
          </ion-row>
          <ion-row>
            <ion-item id='points-label'>points earned</ion-item>
          </ion-row>
          <ion-row>
            <ion-item id='points-cash'>Cash out></ion-item>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item (click)="showPollsHistory()" id='polls-button'>
        <ion-grid id='points-grid'>
          <ion-row>
            <ion-item id='polls-header' *ngIf="completedPolls">{{completedPolls.length}}</ion-item>
          </ion-row>
          <ion-row>
            <ion-item id='polls-label'>polls completed</ion-item>
          </ion-row>
          <ion-row>
            <ion-item id='polls-view'>View all ></ion-item>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>
  </ion-card>

  <ion-title id='badges-card-title'>Badges Earned</ion-title>
  <ion-card id='badges-card' *ngIf="user">
    <ion-grid id='badges-grid'>
      <ion-row class='badges-grid-row'>
        <ion-col class='badges-grid-col'>
          <img src="../../../../assets/images/level1_badge.svg" class='badge-image level-{{user.visitorLevel}}' id='visitor-image'/>
        </ion-col>
        <ion-col class='badges-grid-col'>
          <img src="../../../../assets/images/level1_badge.svg" class='badge-image level-{{user.sharerLevel}}' id='sharer-image'/>
        </ion-col>
      </ion-row>
      <ion-row class='badges-grid-row'>
        <ion-col class='badges-grid-col'>
          <img src="../../../../assets/images/level1_badge.svg" class='badge-image level-{{user.bankerLevel}}' id='banker-image'/>
        </ion-col>
        <ion-col class='badges-grid-col'>
          <img src="../../../../assets/images/level1_badge.svg" class='badge-image level-{{user.completerLevel}}' id='completer-image'/>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row id='logout-row'>
      <ion-col col-4></ion-col>
      <ion-col col-4><ion-button color="medium" class="form-button" (click)="logOut()">Log Out</ion-button></ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-card>

  <ion-item id='polls-background'  [hidden]=!pollsHistoryHidden>
  </ion-item>

  <ion-item id='points-background'  [hidden]=!pointsHistoryHidden>
  </ion-item>

  <ion-card id='polls-history' [hidden]=!pollsHistoryHidden>
    <ion-button id="polls-close-row" (click)="hidePollsHistory()" [attr.clear]="true" fill="clear">x</ion-button>
    <ion-grid id="polls-history-grid" *ngIf="completedPolls && completedPolls.length > 0; else emptyPolls">
      <ion-row id="polls-title-row">
        <ion-col col-12>
          POLLS HISTORY
        </ion-col>
      </ion-row>
      <ion-row class="polls-history-row" *ngFor="let item of completedPolls">
        <ion-col class="poll-name-col" col-6>
          {{item.name}}
        </ion-col>
        <ion-col class="poll-points-col" col-6>
          {{item.points}} points
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-template #emptyPolls>
      <div id="no-polls-span">
        There are no completed polls yet.
      </div>
    </ng-template>
  </ion-card>

  <ion-card id='points-history' [hidden]=!pointsHistoryHidden>
    <ion-button id="points-close-row" (click)="hidePointsHistory()" [attr.clear]="true" fill="clear">x</ion-button>
    <ion-grid id="points-history-grid">
      <ion-row id="points-title-row">
        <ion-col col-12>
          CASH OUT
        </ion-col>
      </ion-row>
      <ion-row id="points-subtitle-row">
        <ion-col col-12 *ngIf="user">
          You have {{user.points}} points.
        </ion-col>
      </ion-row>
      <ion-button expand="full" fill="clear" class="hidden-button" (click)="setCashOut(10000)">
        <ion-row class="points-history-row">
          <ion-col class="point-spent-col" col-6>
            10,000
          </ion-col>
          <ion-col class="point-reward-col" col-6>
            $10.00
          </ion-col>
        </ion-row>
      </ion-button>
      
      <ion-button expand="full" fill="clear" class="hidden-button" (click)="setCashOut(20000)">
        <ion-row class="points-history-row">
          <ion-col class="point-spent-col" col-6>
            20,000
          </ion-col>
          <ion-col class="point-reward-col" col-6>
            $20.00
          </ion-col>
        </ion-row>
      </ion-button>
      
      <ion-button expand="full" fill="clear" class="hidden-button" (click)="setCashOut(50000)">
        <ion-row class="points-history-row">
          <ion-col class="point-spent-col" col-6>
            50,000
          </ion-col>
          <ion-col class="point-reward-col" col-6>
            $50.00
          </ion-col>
        </ion-row>
      </ion-button>
    </ion-grid>
    
    <ion-row id="cash-button-row">
      <ion-col col-12>
        <ion-button id="cash-button" (click)="cashOut()" disabled="canRedeem" expand="full">Cash Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>