<ion-content>
  <div id="splash">
    <img class="cls-1" src="../../../assets/images/1-man-1.jpg"/>
    <img class="cls-2" src="../../../assets/images/2-iceberg.jpg"/>
    <img class="cls-3" src="../../../assets/images/3-obama.jpg"/>
    <img class="cls-4" src="../../../assets/images/4-cabbage.jpg"/>
    <img class="cls-5" src="../../../assets/images/5-girl-1.jpg"/>
    <img class="cls-6" src="../../../assets/images/6-power.jpg"/>
    <img class="cls-7" src="../../../assets/images/7-gayrights.jpg"/>
    <img class="cls-8" src="../../../assets/images/8-governmentbuilding.jpg"/>
    <img class="cls-9" src="../../../assets/images/9-man-2.jpg"/>
    <img class="cls-10" src="../../../assets/images/11-cow.jpg"/>
    <img class="cls-11" src="../../../assets/images/12-powertothepeople.jpg"/>
    <img class="cls-12" src="../../../assets/images/13-girl-2.jpg"/>
    <img class="cls-13" src="../../../assets/images/14-starfish.jpg"/>
  </div>
</ion-content>