<ion-content padding id="login">
  <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4><img src="../../../../assets/images/uConduit-logo.png" id="logo" /></ion-col>
      <ion-col col-4></ion-col>
  </ion-row>
  <div id="separator"></div>
  <h1>Take polls.<br/>
      Make money.
    </h1>

  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item [attr.clear]="true" fill="clear" >
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item [attr.clear]="true" fill="clear" >
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
    <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6><ion-button type="submit" color="success" id="loginButton">Login</ion-button></ion-col>
        <ion-col col-3></ion-col>
    </ion-row>
  </form>

  <ion-item>
    <ion-button id="registerButton" [attr.clear]="true" fill="clear" (click)="registerModal()">
        Don't have a account?
    </ion-button>
  </ion-item>
</ion-content>