<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="polls">
      <ion-label>Polls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<!--<ion-tabs>
  <ion-tab label="Polls" href="/dashboard">
    <ion-router-outlet name="one"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" href="/dashboard">
    <ion-router-outlet name="two"></ion-router-outlet>
  </ion-tab>
</ion-tabs>-->